/* Global Selector */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar{
  display: none;
}

/* Body Styling */
body{
  background: #000;
}

/* Header */
header{
  border: solid 0.05px;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 2%;
  left: 5%;
  right: 5%;
  padding: 0.5%;
  background: #171717;
  border-radius: 0.13rem;
  width: 90%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header ul:nth-of-type(2){
  display: flex;
  gap: 2%;
}

header ul:nth-of-type(2){
  list-style: none;
  font-size: 12px;
}

header ul:nth-of-type(3){
 width: 17%;
 height: 4vh;
 gap: 3%;
 display: flex;
 justify-content: space-around;
}

header ul:nth-of-type(3) button{
  width: 50%;
  border-radius: 0.35rem;
}

header ul:nth-of-type(3) button:nth-of-type(1){
  background: #7A7CFF;
  border: none;
  /* color: rgba(255, 255, 255, 0.63); */
  color: black;
}

header ul:nth-of-type(3) button:nth-of-type(2){
  background: transparent;
  border: solid rgba(255, 255, 255, 0.63) 0.2px;
  color: rgba(255, 255, 255, 0.63);
}

/* Home Page Styling */

#home_page{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#home_page h1{
  -webkit-text-stroke: 0.6px rgb(255, 255, 255) ;
  color: transparent;
  font-size: 7vw;
  transition: all 0.2s linear;
}

#home_page h1:hover{
  -webkit-text-stroke: 0.6px rgb(255, 255, 255);
  color: white;
  font-size: 7vw;
}

#home_page p{
  color: rgba(255, 255, 255, 0.705);
}

#home_page .point_down{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  
}

#home_page .arrow-down{
  transform: scaleX(1.5);
  color: white;
}

/* Project Page Styling */
#project_page{
  height: 150vh;
  padding: 5%;
}

#project_page #inner_project_page h2{
  color: white;
  /* -webkit-text-stroke: 2px solid red; */
}

#project_page #inner_project_page{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2%;
  padding: 0%;
}

#project_page #inner_project_page #project_preview{
  display: flex;
  background: #000;
  height: 100%;
  justify-content: center;
  gap: 5vw;
  align-items: center;
}

.project_links{
  display: flex;
  flex-direction: column;
}

#project_page #inner_project_page #project_preview .project_view{
  width: 95%;
  height: 100%;
}

#project_page #inner_project_page #project_preview iframe{
 width: 100%;
 height: 100%;
 border-radius: 0.1rem;
 border: none;
}

#project_page .project_controls{
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: space-around;
}

.project_links{
  gap: 1vh;
}

.project_links button{
  width: 2.5vw;
  height: 2.5vw;
  color: white;
  background: rgba(255, 255, 255, 0.185);
  border: none;
  transition: 0.2s all linear;
  border-radius: 100%;
}



.project_links button:hover{
  background: rgba(255, 255, 255, 0.507);
  color: black;
}

.project_links button:active{
  opacity: 0.5;
}

#project_page .project_controls button{
  width: 10%;
  height: 60%;
  background: transparent;
  border: rgba(255, 255, 255, 0.253) solid 0.2px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 3%;
  border-radius: 0.35rem;
}

#project_page .project_controls button:nth-of-type(2){
  background: transparent;
  /* border: none; */
  border: rgba(255, 255, 255) solid 2px;
  transition: all 0.05s linear;
}

#project_page .project_controls button:nth-of-type(2):hover{
  opacity: 0.5;
}

#project_page .project_controls button:nth-of-type(2):active{
  opacity: 0.2;
}